body{
    background-color: #3b4252;
    color: #e5e9f0;
    font-family: "Segoe UI", "Carlito";
}

h1.header {
    font-size: 3em;
}

ul.header {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    background-color: #4c566a;
    border: #2e3440 solid 1px;
    border-radius: 5px;
}

.subheading
{
    color: #EBCB8B;
    display: inline-block;
    font-size: 0.9em;
}

.header li{
    float: left;
}

h3
{
    font-size: 1.4em;
    color: #D08770;
    text-transform: uppercase;
}

em{
    color: rgb(132, 175, 119);
}

.header a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.header a:hover{
    background-color: #374a50;
}

.content {
    background-color: #576985;
    margin-top: 0.5%;
    margin-left: 2%;
    width: 95%;
    padding: .5%;
    border: solid #5e81ac 1px
}
