:root{
    --main-bg-color:  #353944;
    --main-textcolor:  #e5e9f0;
    --main-emphasise: rgb(113, 190, 94);
    --main-headers: #D08770;
    
    --nav-box: #0e647e9c;
    --nav-box-border: #0e647e9c;
    --nav-text: white;
    --nav-hover:  #374a50;

    --head-bg-color: /*#2c3f63*/#353944;
    
    --index-border-color: #7b8dac;
    --index-box-color:/* rgb(94, 73, 105)*/ #5f697a;
    --index-box-border-color: /* #D08770*/#353944 ;
    --index-title :white;
    
    --header-theme: #EBCB8B;

    --content-bg: #576985;
    --content-box-border: #5e81ac;
}

body{
    background-color:var(--main-bg-color);
    color: var(--main-textcolor);
    font-family: sans-serif;

    line-height: 1.4;
}
a{
    color: var(--index-title);
}
/*header of the index*/
header.index {

    background-color: var(--head-bg-color);

    font-weight: bolder;
    padding: 20px;
    text-align: center;
}

.index h1 {
    font-size: 3em;
}

div.index {
    background-color: var(--index-border-color);
    width: 75%;
    margin: 2.5% auto;
    text-align: center;
    overflow: hidden;
}

div.summary {
    background-color: var(--index-box-color);
    
    margin: .5% 1.5%;
    width: 300px;
    height: 350px;
    display: inline-block;
    overflow: hidden;

    border:var(--index-box-border-color) solid 2px;
    border-radius: 5px;
}

.summary a {
    font-family: sans-serif;
    font-size: 4em;
    font-weight: 500;

    margin: 0 auto;

    text-decoration: none;
    word-wrap: anywhere; 
}

.summary:hover p{
    visibility: visible;
}

.summary:hover h1 {
    visibility: hidden;
}

.summary p {
    font-size: 1.5em;
    margin-top: 0;

    visibility: hidden;
}

/*header and nav bar*/
header h1 {
    font-size: 3em;
}

header div
{
    color: var(--header-theme);
    display: inline-block;
    font-size: 0.9em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    background-color: var(--nav-box);
    border: var(--nav-box-border) solid 1px;
    border-radius: 5px;
}

nav li{
    float: left;
    margin: auto;
}

nav a{
    display: block;
    padding: 15px;
    color: var(--nav-text);
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    background-color: var(--nav-hover);
}

/*formats the content of the site*/
.content {
    background-color: var(--content-bg);
    margin-top: 0.5%;
    margin-left: 2%;
    width: 95%;
    padding: .5%;

    border: solid var(--content-box-border) 1px;
    display: inline-block;
}

em{
    color: var(--main-emphasise);
}

h3
{
    font-size: 1.4em;
    color: var(--main-headers);
    text-transform: uppercase;
}

img {
    max-width: 50%;
    max-height: 35%;
}
img.right {
        float: right;
}

img.left{
    float: left;
}
