body{
    background-color: #353944;
    color: #e5e9f0;
    font-family: "Segoe UI", "Carlito";
}

header.index {

    background-color: #2c3f63;

    font-weight: bolder;
    padding: 20px;
    text-align: center;
}

.index h1 {
    font-size: 4vw;
}

.index nav{
    color: grey;
}

/*header and nav bar*/
header h1 {
    font-size: 3em;
}

header div
{
    color: #EBCB8B;
    display: inline-block;
    font-size: 0.9em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    background-color: #0e647e9c;
    border: #2e3440 solid 1px;
    border-radius: 5px;
}

nav li{
    float: left;
    margin: auto;
}

nav a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    background-color: #374a50;
}

/*formats the content of the site*/
.content {
    background-color: #576985;
    margin-top: 0.5%;
    margin-left: 2%;
    width: 95%;
    padding: .5%;
    border: solid #5e81ac 1px;

    display: inline-block;
}

em{
    color: rgb(113, 190, 94);
}

h3
{
    font-size: 1.4em;
    color: #D08770;
    text-transform: uppercase;
}

img {
    max-width: 50%;
    max-height: 35%;
}
img.right {
        float: right;
}

img.left{
    float: left;
}